body {
background-color: #777;
width: 960px;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
font-size: 18px
}

#header{
	width: 80%;
	background-color: #ebebeb;
	color: #777;
	padding: 25px;
	text-align: center;
	margin-left: auto;

}

#nav{
	width: 80%;
	background-color: #ebebeb;
	color: #777;
	padding: 25px;
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
}


.section{
	float: left;
	margin-top: 20px;
	padding-top: 30px;
	background-color: #ebebeb;
	color: #777;
	width: 495px;
	height: 270px;
	margin-left: 150px;
	z-index: 2;
	text-align: center;
	margin-bottom: 10px;
}
#article{
	background-color: #777;
	color: #ebebeb;
	width: 475px;
	height: 200px;
	position: relative;
	padding-top: 20px;
	left: 10px;
	top: 20px;
	z-index: 2;
	text-align: center;



}
#aside{
	float: left;
	background-color: #ebebeb;
	color: #777;
	width: 300px;
	height: 250px;
	margin-left: 14px;
	margin-top: 20px;
	text-align: center;
	padding-top: 50px;

}

#p{
	clear: all;
	position: relative;
	width: 400px;
	padding: 18px;
	background-color: #ebebeb;
	color: #777;
	z-index: 3;
	left: 32px;
	top: -145px;

}

#h1h2h3{
	clear: all;
	position: relative;
	width: 400px;
	padding: 18px;
	background-color: #ebebeb;
	color: #777;
	z-index: 3;
	left: 32px;
	top: -142px;

}
#footer{
	clear: both;
	background-color: #ebebeb;
	color: #777;
	padding: 20px;
	bottom: 0;
	width: 770px;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
	border-bottom-width: 0

}